body {
  font-family: arial, sans-serif;
  background-color: #222a30;
}

h1, p {
  font-family: Courier New, monospace;
}

u {
  font-family: Arial, sans-serif;
  font-weight: 10;
}

#scrollImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  max-width: 60%;
}

.smallText {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.aboutMe {
  z-index: -1;
  position: fixed;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  bottom: 15%;
}

#myImage {
  border-radius: 10px;
  /* width: 30%; */
  max-width: 50%;
  /* height: 5%; */
}

.bottomTextDiv {
  z-index: 1;
  position: fixed;
  border-radius: 10px;
  width: 100%;
  bottom: 0;
  margin-left: -8px; /*ok so this is the worst line of code right here*/
  text-align: center;
  -webkit-animation: bgColor 5s infinite;
  animation: bgColor 1.5s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.content {
  height: 110%;
  margin-top: 20%;
}

#webStamp {
  color: white;
  text-align: center;
}

#hiddenFill {
  border-radius: 10px;
  background-color: black;
  height: 200px;
}


.bubble {
  border-radius: 50%;
  border: 2px solid black;
  flex: none;
  text-align: center;
  font-size: 25px;
  color: black;

  line-height: var(--lh);
  height: var(--h2);
  width: var(--h2);
  margin-left: var(--fromLeft);

  -webkit-animation: bubbleAnim 5s infinite;
  animation: bubbleAnim 4s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.bubble:hover {
  border: 2px solid white;
  color: white;
}

@keyframes bgColor {
    0% { background-color: #a9d4fc; } 100% { background-color: #fca9fb; }
}

@keyframes bubbleAnim {
    0% {
      background-color: #a9d4fc;
      height: var(--h1);
    } 50% {
      height: var(--h2);
    } 100% {
      background-color: #fca9fb;
      height: var(--h1);
    }
}
