html {
    height: 100%;
    width: 100%;
    display: table;
}

#linkBack {
  text-align: center;
}

#homeBtn {
  margin-top: 10px;
	background-color: black;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:5px 25px;
	text-decoration:none;
}

#wrapper {
    display: table-cell;
    -webkit-animation: border 10s infinite;
    animation: border 5s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
body {
  display: table-row;
  background-color: black;
  height: 100%;
}

hr {
  height: 5px;
  border: 0 none;
  -webkit-animation: bgcolor 10s infinite;
  animation: bgcolor 5s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

h2, h3, p {
  text-align: center;
  -webkit-animation: color 10s infinite;
  animation: color 5s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.buttonAlign {
    text-align: center;
}

button {
  -webkit-animation: bgcolor 10s infinite;
  animation: bgcolor 5s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  margin: 20px;
  -moz-border-radius:9px;
  -webkit-border-radius:9px;
  border-radius:9px;
  border:2px solid #fff;
  display:inline;
  cursor:pointer;
  font-size:19px;
	font-weight:bold;
	padding:9px 15px;
}

button:disabled,
button[disabled] {
  border: 2px solid #9af9cf;
}

@keyframes bgcolor {
  0% {
    background-color: #9af5f9;
  }
  100% {
   background-color: #faa3ff;
  }
}

@keyframes color {
  0% {
    color: #9af5f9;
  }
  100% {
   color: #faa3ff;
  }
}

@keyframes border {
  0% {
    border: 5px #9af5f9 solid;
  }
  100% {
    border: 5px #faa3ff solid;
  }
}
