body {
  background-color: #404040;
}

button, input{
	background-color: black;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:5px 25px;
	text-decoration:none;
}

canvas {
  border-radius: 10px;
}

h1, h3 {
  color: white;
  text-align: center;
}

a:visited {
  color: white;
}


#linkBack {
  text-align: center;
}

#canvas {
  filter:blur(0px);
}

.wrapper {
  text-align: center;
}
