body {
  background-image: url("images/lint.png");
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

#card {
  text-align: center;
  width: 60%;
  background-color: #edb0ff;
  padding: 10px;
  border-radius: 5px;
}

.list {
  padding-left: 40%;
  text-align: left;
}
